.navbar {
  font-family: Cormorant, serif;
  font-size: 1.3vw;
  text-align: right; /* Выравнивание навигации по правому краю */
  display: flex;
  align-items: center;
 
}

.ml-auto {
  font-family: Cormorant, serif;
  font-size: 1.3vw;
  text-align: right; /* Выравнивание навигации по правому краю */
  display: flex;
}

.basic-navbar-nav {
  width: 2vw;
  height: 2vw;
}

.logo {
  float: left; /* Помещаем логотип слева */
  margin-left: 6vw;
  margin-right: 6vw; /* Отступ справа от логотипа */
}

.nav-link {
  position: relative; /* Добавляем позиционирование */
  margin-left: 0.4vh;
  color: black;
  margin-top: 0.6vw;
}

.title {
  font-family: Cormorant, serif;
  font-size: 2vw;
  font-weight: bold;
}

.mini_title {
  font-family: Cormorant, serif;
  font-size: 1.8vw;
  text-align: left; /* Выравнивание навигации по правому краю */
  margin-top: 1vw;
  font-weight: 100;
}

.container {
  display: flex;
  text-align: left;
  align-items: center;
  margin-top: 2vw;
}

.text-container {
  margin-right: 23vw;
}

.image-container {
  display: flex;
  margin-left: vw;
}

.text-container_welcome {
  flex: 1;
  text-align: center;
  font-family: Cormorant, serif;
  font-size: 2vw;
}

.title_welcome {
  font-family: Cormorant, serif;
  font-size: 2.1vw;
  margin-top: 2vw;
  text-align: center;
}

.content_welcome {
  background-color: #DFC19F; /* Цвет фона */
  padding: 2vw;
  margin-top: 2vw;
  width: 100%;
}

.title_specialist {
  font-family: Cormorant, serif;
  font-size: 2.4vw;
  margin-top: 2vw;
  text-align: center;
  margin-bottom: 2vw;
}

.title-kontakt {
  font-family: Cormorant, serif;
  font-size: 2.4vw;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.main-container {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  display: none;
}
.animated-link {
  position: relative;
  transition: color 0.3s ease;
}

.animated-link:hover {
  color: #DFC19F; /* Цвет, в который будет меняться текст при наведении */
}

.animated-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #DFC19F; /* Цвет иллюминации */
  animation: linkGlow 1s infinite alternate; /* Анимация иллюминации */
}

.cormorant {
  font-family: 'Cormorant', serif;
  text-align: center;
}

@keyframes linkGlow {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}



@media (min-width: 30vw) {
  .specialist-col {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

@media (min-width: 35vw) {
  .specialist-col {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
  font-family: 'Cormorant', serif;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2vw;
}
.loginform{
  border: #DFC19F 0.5vw solid;
  height: 100%;
  width: 30vw;
  margin-right: 6vw;
}
.registerform{
  border: #DFC19F 0.5vw solid;
  height: 100%;
  width: 30vw;
}
.title_auth{
  font-size: 1.5vw;
  font-family: Cormorant sans-serif;
  text-align: center;
  margin: 2vw;
}